body, h1, h2, h3, p, a {
  font-family: Arial, sans-serif;
  line-height: 26px;
}

.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 17px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.article-list a {
  font-size: 18px;
}

.article-preview {
  width: 300px;
  height: 260px;
  margin: 20px;
}

.article-preview:hover {
  color: #F5181E;
  cursor: pointer;
}

.preview-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

.article {
  max-width: 700px;
  margin: 0 auto;
}

.article a {
color: #416fd6
}

.article a:hover {
  text-decoration: underline;
}

.article-photo {
  width: 100%;
  margin-bottom: 20px;
}
